<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">


<filter>
	<filter-name>opensession</filter-name>
	<filter-class>
	org.springframework.orm.hibernate4.support.OpenSessionInViewFilter
	</filter-class>
</filter>

<filter-mapping>
	<filter-name>opensession</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>

<context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>classpath:applicationContext.xml</param-value>
</context-param>
<!-- 内部加载contextConfigLocation指定的配置文件，创建Spring容器给StrutsSpringObjectFactory访问 -->
<listener>
	<listener-class>
	org.springframework.web.context.ContextLoaderListener
	</listener-class>
</listener>
  
<filter>
	<filter-name>strutsmvc</filter-name>
	<filter-class>
org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter
	</filter-class>
	<!-- 默认访问struts.xml -->
</filter>
<filter-mapping>
	<filter-name>strutsmvc</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>
  
</web-app>
